<!-- app.component.html -->
<div class="home-page">
  <header class="header">
    <h1>Welcome to Symphony of colors</h1>
  </header>

  <nav class="navigation">
    <ul>
      <li><a routerLink="/sign">Sign</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/artist">Artists</a></li>
      <li><a routerLink="/shop">Shop</a></li>
     <li><a routerLink="/carts">Cart</a></li>
      <li><a routerLink="/exhibition">Exhibitions</a></li>
      <li><a routerLink="/form">Form</a></li>
      <li><a routerLink="/success"></a></li>
      
      
      
      
     
    </ul>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
    
 