<!-- artist.component.html -->
<div class="artist-section">
    <h2>Featured Artists</h2>
    <div class="artist-list">
      <!-- Artist One -->
      <div class="artist-card">
        <img src="assets\a1.jpg" alt="Artist One" class="artist-image">
        <div class="artist-info">
          <h3>Sahej rahel</h3>
          <p>Sahej rahel is known for his abstract paintings.</p>
        </div>
      </div>
      
      <!-- Artist Two -->
      <div class="artist-card">
        <img src="assets\a3.jpg" alt="Artist Two" class="artist-image">
        <div class="artist-info">
          <h3>Aarthi Sundar</h3>
          <p>Aarthi Sundar is a sculptor with a unique style.</p>
        </div>
      </div>
      
      <!-- Artist Three -->
      <div class="artist-card">
        <img src="assets\a2.jpg" alt="Artist Three" class="artist-image">
        <div class="artist-info">
          <h3>Jean-Michael basquiat</h3>
          <p>Jean-Michael basquiat is Known for creating stunning digital art.</p>
        </div>
      </div>
    </div>
  </div>
  