<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Successful</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1{
            color: #11e361;
        }
    </style>
</head>
<body>
    
    <h4>Your Order has been placed Successfully!</h4>
    <h4>Thanks for Ordering Do visit again!</h4>
    
</body>
</html>
